@import 'tailwindcss';

@font-face {
  font-family: 'HelveticaNowDisplay';
  src:
    url('/fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src:
    url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src:
    url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src:
    url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src:
    url('/fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: #85b841;
  --color-secondary: #e4da4c;
  --color-tertiary: #f45197;
  --color-foreground: #000000;
}

:root {
  body {
    font-family: 'HelveticaNowDisplay', sans-serif;
    line-height: 1.5;
    background-color: var(--color-background);
  }
}
